---
title: "GitLab Code Contributor: Vitaliy Klachkov"
author: Ray Paik
author_gitlab: rpaik
author_twitter: rspaik
categories: open source
description: "Core Team member Vitaliy Klachkov shares how he started contributing to GitLab."
tags: community, collaboration, open source
ee_cta: false
---
Welcome to our new blog series featuring code contributors from the GitLab community! This blog will highlight the wonderful contributions made by GitLab community members and will hopefully inspire others to contribute to GitLab. For the first blog post, we are happy to welcome [Vitaliy “blackst0ne” Klachkov](https://gitlab.com/blackst0ne), who has been chosen as a [release MVP](/mvp) three times!

### How long have you been contributing to GitLab?

I've been contributing since August 2016.

<%= partial "includes/blog/content-newsletter-cta", locals: { variant: "a" } %>

### Why and how did you decide to contribute to GitLab?

I read a news article about a new GitLab release and I didn’t even know what GitLab was back then. There was also a discussion on an example of a Rails-based project with a good codebase, and people suggested taking a look at GitLab.

I was intrigued and decided to take a closer look at GitLab. I actually found
room for improvement in the codebase so I started pushing a few merge requests (MRs). I received responses within 1-2 days and I was very impressed. With some of the other communities, I’m used to waiting weeks for feedback.

So, I kept submitting more merge requests and so far, I have 227 merged MRs. I’m proud that I’m one of the top 50 contributors among 2000+ GitLab [code contributors](http://contributors.gitlab.com/) that include GitLab employees.

### Which areas of the GitLab product do you contribute to?

Mostly it has been backend changes, but many of my MRs touched the frontend as well. I spent my time bringing popular features (e.g. [squash and merge to CE](https://docs.gitlab.com/ee/user/project/merge_requests/squash_and_merge.html#doc-nav), [mermaid support](https://docs.gitlab.com/ee/user/markdown.html#mermaid), [switch markdown engine to CommonMark](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/14835), [customizable branch name from issues](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/13884), etc.), fixing technical debts (e.g. [migrate all spinach specs to rspec](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests?scope=all&utf8=%E2%9C%93&state=all&author_username=blackst0ne&label_name%5B%5D=technical%20debt&label_name%5B%5D=Quality&search=Spinach)), upgrading [GitLab to Rails 5.0](https://gitlab.com/groups/gitlab-org/-/merge_requests?scope=all&utf8=%E2%9C%93&state=all&author_username=blackst0ne&label_name%5B%5D=rails5), and many other improvements.

### Can you tell us what you do professionally?

I am a full-stack web developer at [GEOPHYSTECH LLC](https://geophystech.ru/). The company is focused on seismology, earthquakes, and everything related to earthquake hazards.

### What do you like to do when you're not working?

I’m a big fan of sports or anything that keeps my body moving, such as running, swimming, snowboarding, table tennis, volleyball, ice-blading, football, CrossFit workout, etc.

I also enjoy [chess](https://lichess.org/), reading books/articles, and UX-related things. I’ve been collaborating with GitLab’s UX team.

### What advice do you have for others who may be interested in contributing to GitLab?

Contributing to GitLab is easy. If you want the experience of being a part of a popular open source project, you are more than welcome to join the GitLab community! You can also ping me on [Twitter](https://twitter.com/blackst0ne) if you have any questions or need any help as you get started.

### Do you have anything else you’d like to share?

GitLab has some nice [swag](https://shop.gitlab.com/)! I’ve gotten some great ones for my release MVPs.

## Interested in learning how you can contribute?

A good place to start would be the [Contributing to GitLab page](/contributing/), where you can learn how you can contribute to GitLab code, documentation, and translation.
