---
suppress_header: true
---
- content_for :title do
	= categories.to_s.capitalize
.blog.list.list-category-page
	.wrapper
		.section
			= partial "includes/blog/category-nav"
			= partial "includes/newsletter-signup.html"
	.wrapper
		= partial "includes/blog/list"
